.tori {
  text-align: left;
  display: block;
  background-color: lightgray;
  width: 1395px;
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.inputbox{
  width: 450px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid; 
  border-color: lightgray, transparent;
  font-size: 21px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.option1{
  width: 420px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid gray; 
  font-size: 23px;
  position:relative;
  margin-left: 10px;
}
.option2{
  width: 230px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid gray;
  font-size: 23px;
  position:relative;
  margin-left: 10px;
}
.form-control{
  display: inline-flex;
  cursor: pointer;
  position:relative;
  font-size: 22px;
  padding:20px;
}
.form-control > input{
  height: 20px;
  width: 20px;
}
.save{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  color: darkblue;
  margin-left: 250px;
  margin-right: 10px;
}
button{
 background-color: royalblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  color: white;
  font-size: 20px;
  border-radius: 7px;
  border: 1px royalblue;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}